.container-large {
  margin: auto;
  max-width: 1175px;
  position: relative;

  @media only screen and (max-width: 1200px) {
    max-width: 860px;
  }

  @media only screen and (max-width: 900px) {
    max-width: 100%;
    margin: 0 16px;
  }
}

.container-medium {
  margin: auto;
  max-width: 1065px;
  position: relative;

  @media only screen and (max-width: 1100px) {
    max-width: 100%;
    margin: 0 16px;
  }
}
