// Text Color
$textColorPrimary: #6A6A6A;
$textColorBlack: #484848;
$textColorGrey: #ACACAC;
$textGreenLight: #A2FE8F;

// Content color
$backgroundColor: #FAFAFA;
$colorPrimary: #57C641;
$colorPrimaryLighter: #5ECF47;
$colorSecondary: #17AA9D;
$backgroundColorGrey: #778987;
